{% extends "base.html.twig" %}

{% block title %}AppBundle:PagesController:index{% endblock %}

{% block body %}
    <div class="container" style="width: 768px; margin: 0 auto">
        <table border="1" style="width: 100%">
            {% for cafe in cafes %}
                <tr>
                    <td>
                        <p style="font-size: 40px">
                            <img width="100px" height="auto" src="{{ vich_uploader_asset(cafe[0],'imageFile') }}"
                                 alt="logo">
                            <b><a href="{{ path('app_pagescontroller_view',{'id': cafe[0].id}) }}">{{ cafe[0].name }}</a></b>
                        </p>
                        <ul>
                            {% for dish in cafe[1] %}
                                <li>
                                    <p><img src="{{ vich_uploader_asset(dish[0],'imageFile') }}" alt="logo"
                                         style="width: 60px"> "{{ dish[0].name }}" <b>({{ dish['C'] }} Покупок за
                                    год)</b>
                                </li>
                            {% endfor %}

                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}