{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="width: 768px; margin: 0 auto">
        <a href="{{ path('app_pagescontroller_index') }}">На главную</a>
        <table>
            <tr>
                <td>
                    <p>
                        <img width="400px" height="auto" src="{{ vich_uploader_asset(cafe,'imageFile') }}"
                             alt="logo">
                    <h1 style="display: inline">{{ cafe.name }} </h1>
                    <p style="display: inline"> {{ cafe.description }}</p>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h2><p>Блюда:</p></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                    {% for dish in cafe.dishes %}
                    <li>
                        <img src="{{ vich_uploader_asset(dish,'imageFile') }}" alt="img" style="width: 60px"> | "{{ dish.name }}" | Цена: {{ dish.price }}</li>
                        <br><br>
                        {% endfor %}
                    </ul>
                </td>

            </tr>
        </table>
    </div>
{% endblock %}